/* Utilities */

body {
    background-color: #fff;
}

section{
    min-height: 400px;
    display: flex;
    
    flex-direction: column;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.float-left {
    float: left;
}

.chapter {
    margin-top: 10vh;
    margin-bottom: 50px;
}

.chapter h1 {
    width: 85vw;
    height: 90px;
    margin: 0 auto;
    font-size: 70px;
    letter-spacing: 1px;
    color: rgb(110,116,152);
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;;  
    text-align: center;
    border-bottom: 1px solid rgb(229,146,5);
}

.chapter h1 span {
    background: #fff;
    padding: 0 30px;
    position: relative;
    top: 35px;
}

.chapter p {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    
    width: 846px;
    height: 100px;
    font-size: 24px;
    line-height: 48px;
    color: rgb(164,168,188);
    font-family: "Raleway";
    text-align: center;
}

/* Header */

header {
    min-height: 100vh;
    text-align: center;
    background-image: url("img/header-background.png");
    background-position: center;
}

nav {
    height: 23vh;
    background-color: rgb(0, 0, 0, 50%);
}

nav ul {
    margin: 0 auto;
    padding-left: 0;
}

nav li a {
    line-height: 23vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-family: "Raleway";
    font-weight: bold;
    transition: .3s ease-in-out;
}

nav li a:hover {
    color: rgb(229,146,5);
    text-decoration: none;
}

.logo {
    vertical-align: -9%;
    font-size: 72px;
    letter-spacing: 1px;
    color: rgb(229,146,5);
    font-family: "Playfair Display";
    font-weight: bold;
    text-transform: none;
}

.header-info {
    margin-top: 20vh;
    font-size: 38px;
    letter-spacing: 1px;
    color: rgb(255,255,255);
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
}

.orange {
    color: rgb(229,146,5);
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
}
    
.header-info p {
    padding-top: 25px;
    width: 680px;
    min-height: 76px;
    line-height: 35px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 300;
    color: rgb(255,255,255);
    font-family: "Raleway";
    text-align: center;
}

.header-button {
    margin-top: 13vh;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    transition: .3s ease-in-out;
}

.header-button:hover {
    border: 2px solid rgb(229,146,5);
    cursor: pointer;
}

.header-button:hover p {
    color: rgb(229,146,5);
}

.header-button p {
    margin-bottom: 0;
    padding: 10px 34px;
    font-size: 20px;
    line-height: 48px;
    color: rgb(255,255,255);
    font-family: "Helvetica";
    font-weight: bold;
    transition: .3s ease-in-out;
}

/* First category */

.first-category {
    min-height: 1400px;
}

.first-category-buttons {
    margin: 0 auto;
}

.first-category button {
    margin: 30px 35px;
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Helvetica";
    font-weight: bold;
}

.first-category button:hover {
    cursor: pointer;
}

.gray-button {
    color: rgb(110,116,152);
    border: 1px solid rgb(110,116,152);
    background: transparent;
}

.yelow-button {
    color: rgb(255, 255, 255);
    background: rgb(229,146,5);
    border: 1px solid rgb(229,146,5);
}

/* ----------------------------------------------- */

.order {
    margin-top: 22vh;
    margin-bottom: 10vh;
    text-align: center;
}

.meal-box {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.35);
}

.meal-up {
    margin-top: 15vh;
}

.order img {
    width: 100%;
}

.order button {
    width: 90%;
    margin: 50px 5%;
    font-size: 20px;
}

.order .bigger-button {
    width: 55%;
}

.order h2 {
    margin-top: 40px;
    font-size: 72px;
    letter-spacing: 1px;
    color: rgb(229,146,5);
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;;
}

.order h3 {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 21px;
    color: rgb(0,0,0);
    font-family: "Raleway";
    text-align: center;
}

.order p {
    margin: 0 auto;
    width: 233px;
    font-size: 17px;
    line-height: 37px;
    color: rgb(164,168,188);
    font-family: "Raleway";
    text-align: center;
}

/* Breakfast */

.breakfast {
    
    text-align: center;
}

.breakfast-left {
    height: 440px;
    background: rgb(229,146,5);
}

.breakfast-left h1 {
    margin-top: 6vw;
    margin-left: 12vh;
    width: 300px;
    font-size: 56px;
    letter-spacing: 1px;
    color: rgb(255,255,255);
    text-align: left;
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
}

.breakfast-right {
    height: 440px;
    background-image: url("img/breakfast.png");
    background-position: center;
}

/* Third category */

.third-category .chapter {
    margin-top: 11vh;
}

.menu-box {
    width: 90%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: center;
}

.dish img {
    margin-bottom: 20px;
}

.dish h3 {
    padding: 10px 40px;
    font-size: 32px;
    color: rgb(110,116,152);
    font-family: "Playfair Display";
    font-weight: bold;
    text-align: center;
}

.dish p {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 60px;
    font-size: 16px;
    line-height: 44px;
    color: rgb(164,168,188);
    font-family: "Raleway";
    font-weight: 300;
    text-align: center;
}

.dish .gray-button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
}

.dish-empty {
    height: 150px;
}

/* Subscribe */

.subscribe {
    margin-top: 100px;
}

.subscribe-panel {
    width: 100%;
    height: 550px;
    background-image: url("img/subscribe.png");
    background-position: center;
}

.subscribe-panel h1 {
    margin-top: 100px;
    font-size: 57px;
    letter-spacing: 1px;
    color: rgb(255,255,255);
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;;
    text-align: center;
}

form {
    width: 550px;
    height: 60px;
    margin: 0 auto;
}

input[type=text] {
    width: 550px;
    height: 60px;
    margin-top: 65px;
    box-sizing: border-box;
    border: 2px solid rgb(255,255,255);
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(255,255,255);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgb(255,255,255);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgb(255,255,255);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgb(255,255,255);
}

.subscribe-click {
    margin: 0 auto;
    width: 165px;
    height: 55px;
}

.subscribe-click button {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    height: 55px;
    font-size: 16px;
    line-height: 48px;
    color: rgb(255,255,255);
    font-weight: bold;
}

/* Footer */

footer {
    height: 120px;
}

.footer-left {
    width: 403px;
    height: 18px;
    font-size: 15px;
    margin-top: 50px;
    padding-right: 150px;
    text-align: center;
    color: rgb(164,168,188);
}

.footer-right {
    width: 403px;
    height: 18px;
    font-size: 15px;
    margin-top: 50px;
    padding-left: 100px;
    text-align: center;
}

.footer-right ul {
    list-style-type: none;
}

.footer-right ul li {
    display: inline-block;
}

.footer-right ul li a {
    text-decoration: none;
    color: rgb(164,168,188);
    padding: 25px
}
















/* RWD */

